* {
    margin: 0;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    background-color: antiquewhite;
    padding: 5px;
}

.main1 {
    display: flex;
    justify-content: center;
    flex-shrink: 1;
}

.style1 {
    height: 100%;
    width: 50%;
    background-color: white;
    margin-top: 100px;
    border-radius: 20px;
    padding: 1.6rem;
}

img {
    height: 50vh;
    width: 49.2vw;
    border-radius: 3%;
}

.style2 {
    font-size: 30px;
    font-weight: 10;
    font-family: "Young Serif", serif;
}

.style3 {
    margin-top: 10px;
    font-family: "Outfit", sans-serif;
}

.style4 {
    display: flex;
    flex-direction: row;
    background-color: #fff5fa;
    padding: 20px;
    border-radius: 10px;
    font-family: "Outfit", sans-serif;
}

.pstyle {
    color: #7b284f;
    padding: 2px;
}

.styleh22 {
    font-family: "Young Serif", serif;
    font-size: 20;
    color: #5f574e;

}

.lipad {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #7b284f;
}

.lipad li {
    font-weight: bold;
    color: #5f574e;
}

.lipad li span {
    font-weight: normal;
    color: #5f574e;
}

.ingredients {
    padding: 1.5vh;
    font-family: "Outfit", sans-serif;
}

.style5 {
    list-style: none;
}

.style6 {
    font-family: "Outfit", sans-serif;
    color: #5f574e
}

.tb1 {
    font-family: "Outfit", sans-serif;
}

.tb2 {
    font-family: "Outfit", sans-serif;
    color: #5f574e;
    font-weight: bold;
}

.tablecontainer {
    display: flex;
    padding: 5px;
}

.pstyle1 {
    width: 50%;
    margin-left: 2ch;
}

.new1 {
    font-family: "Outfit", sans-serif;

}

.new2 {
    font-family: "Outfit", sans-serif;
    color: #7b284f;
    font-weight: bold;
}

.style5 li::before {
    content: "\2022";
    font-weight: 900;
    color: #5f574e;
    margin-right: 1rem;

}

p {
    font-size: 16px;
}

@media (max-width: 450px) {
    body {
        margin: 0px;
        padding: 0px;
        margin-top: 0px;
    }

    .main1 {
        display: block;
        margin: 0px;
        margin-bottom: 0px;
    }

    .style1 {
        width: 100%;
        height: 10%;
        border-radius: 0px;
        padding: 0px;
        margin-top: 0px;
    }

    .style4 {
        margin-right: 5px;
        display: block;
        padding: 0px;
    }

    .style4 {
        padding: 10px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .attribution {
        margin: 0px;
        padding: 0px;
    }

    img {
        width: 100%;
        border-radius: 0px;
        height: 200px;
    }

    .style2 {
        padding: 10px;
        margin-left: 10px;
    }

    .style3 {
        margin-left: 20px;
        margin-top: 0px;
        margin-right: 20px;
    }

    .styleh22 {
        margin-left: 20px;
    }

    hr {
        margin-left: 20px;
        margin-right: 20px;
    }
}